.contact-header-conteiner{
    height: 50px;
    // padding: 3px;
    background-color: #202c33;
    // border: 0.1px  gray;
    // border-style: solid none solid dashed;
    box-shadow: 0 1px 3px rgba(gray,.4);
    border-right: 1px solid rgba(134,150,160,0.15);;
}


